.btn-filter {
    border: none !important;
    min-width: 100px;
    height: 40px;
    background-color: #bbb;
    padding: 5px 45px !important;
    border-radius: 20px;
    margin: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-filter-active {
    background-color: var(--color-red);
}