:root {
    --color-red: #942218;
}

.navbar {
    background-color: var(--color-red);
    -webkit-box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 6px 25px -10px rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: white;
    font-size: 20pt;
    font-family: 'Fira Sans', sans-serif;

    letter-spacing: 1px;

}

.navbar-brand:hover {
    color: white;
}

.navbar-nav {
    line-height: 65px;
    margin: 0;
    padding: 0;
}


.nav-item {
    margin: 0;
    padding: 0;
}

.nav-item span {
    color: white;
    font-size: 15pt;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}

.nav-item a:hover {
    color: black;
    text-decoration: none;
}

.nav-item span:hover {
    color: black;
    text-decoration: none;
}

.nav-item i {
    color: white;
    margin: 0;
    padding: 0;
}

#current-time {
    vertical-align: middle;
    display: inline !important;
}

.no-hover:hover {
    color: white !important;
    cursor: default;
}